//Nextflow config file for running tests

$HOSTNAME = 'Test'
params {
  // Input data
  reads = "inputs/*.fastq.gz"
  mate = "single"
  genome_build = "mousetest_mm10"
  run_Bowtie2 = "yes" 
  run_ChIP_MACS2 = "yes"
  run_Sequential_Mapping = "yes"
  run_IGV_TDF_Conversion = "yes" 
  run_RSeQC = "yes" 
  run_Picard_CollectMultipleMetrics = "yes" 
  run_BigWig_Conversion = "yes" 
  run_FastQC = "yes"
  run_Trimmer = "yes"
  run_Quality_Filtering = "yes"
  run_Adapter_Removal = "yes"
  run_checkAndBuild = "yes"
  
  // Process Parameters for ChIP_Module_ChIP_Prep:
